body{
    background-image: url(../images/bg-desktop.svg);
    height:200px;
    background-color:blueviolet ;
    
}
.logo{
    margin-left: 53px;
}
.banner {
    display: flex;
    justify-content: space-evenly;
    margin: 75px;
}
img.img-wrp {
    width: 559px;
}
.desc{
    font-size: 18px;
    padding: 0px 87px;
    color: white;

}
.heading{
    padding: 0px 82px;
    margin-bottom: 0px;
    color:white;
}
button.btn {
    margin-left: 90px;
    padding: 18px 51px;
    border-radius: 26px;
    border: 2px solid #fff;
    color: blueviolet;
}
.url{
    float:right;
    color:white;
}
li{
    list-style:none;
    display: inline;
    margin: 0px 5px ;
    border:2px solid beige;
    padding: 10px;
    border-radius: 29px;
}


